alembic==1.14.0
beautifulsoup4==4.12.3
feedfinder2==0.0.4
feedparser==6.0.11
flask_login==0.6.3
flask_migrate==4.0.7
pytest==8.3.3
python_dateutil==2.9.0.post0
pytz==2024.2
Requests==2.32.3
waitress==3.0.2
humanize==4.11.0
groq==0.13.0
apscheduler==3.11.0
goose3==3.1.19
nltk==3.9.1
sumy==0.11.0
pandas==2.2.3
openai==1.55.3