<div
    x-show="open"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-100"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    x-init="$watch('open', value => {
        if (value) {
            setTimeout(() => {
                $refs.site_url.focus();
            }, 300);
        }
    })"
    class="fixed inset-0 overflow-y-auto z-50"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true">
    <div
        class="flex items-end md:items-center justify-center min-h-screen pt-4 md:px-4 pb-0 md:pb-20 text-center p-0">
        <div
            class="fixed inset-0 bg-black bg-opacity-70 transition-opacity"
            aria-hidden="true"
            @click="open = false"></div>

        <div
            class="inline-block w-full sm:w-fit min-w-fit md:min-w-[480px] align-bottom shadow-2xl bg-slate-800 bg-opacity-75 backdrop-blur-xl rounded-t-2xl md:rounded-t-xl md:rounded-2xl text-left overflow-hidden border-0 md:border border-gray-800 border-opacity-25 transform transition-all pt-8 pb-16 md:pt-0 md:pb-0 my-0 md:my-8 pr-10 sm:pr-0 md:align-middle md:max-w-lg"
            style="z-index: 100">
            <div class="px-4 pt-2 pb-4 md:p-6 md:pb-4 w-full">
                <div class="sm:flex sm:items-start w-full">
                    <div class="ml-4 sm:mt-0 md:ml-1 md:mr-1 text-left w-full">
                        <form
                            id="add_feed"
                            class="w-full"
                            method="POST"
                            action="{{ url_for('add_feed_route.add_feed') }}">
                            <div class="mt-2 block">
                                <div
                                    id="error"
                                    class="text-red-500 mb-2 font-semibold"></div>
                                <div class="w-full block md:flex">
                                    <input
                                        class="text-white w-full rounded-lg flex focus:bg-slate-900 focus:outline-none focus:border-blue-500 bg-slate-800 mb-2 border-2 border-slate-500 py-3 mr-1 px-3"
                                        type="url"
                                        name="site_url"
                                        placeholder="Website URL"
                                        required
                                        x-ref="site_url" />

                                    <select
                                        id="category-select"
                                        class="rounded-lg w-full bg-slate-800 border-2 border-slate-500 mb-2 py-3 px-3 text-white"></select>

                                    <input
                                        type="text"
                                        id="new-category-input"
                                        style="display: none"
                                        class="text-white w-full rounded-lg flex focus:bg-slate-900 focus:outline-none focus:border-blue-500 bg-slate-800 mb-2 border-2 border-slate-500 py-3 mr-1 px-3"
                                        placeholder="New category name" />

                                    <input
                                        type="hidden"
                                        id="category"
                                        name="category" />
                                </div>
                            </div>
                        </form>
                        <a
                            href="#"
                            id="create-category-link"
                            class="w-full min-w-full text-gray-300 underline underline-offset-4"
                            >Create a new category</a
                        >
                    </div>
                </div>
            </div>
            <div
                class="bg-transparent md:bg-slate-900 w-full px-0 pl-8 sm:pl-0 py-3 sm:px-6 md:flex md:flex-row-reverse">
                <button
                    type="submit"
                    id="submit-button"
                    class="w-full flex rounded-lg px-8 pt-3.5 pb-3 bg-orange-800 text-nowrap font-extrabold text-white hover:bg-orange-900 focus:outline-none active:outline-none border-2 border-transparent focus:border-2 focus:border-yellow-700 sm:ml-2 sm:w-auto sm:text-sm">
                    <span
                        class="add-feed-text"
                        style="display: block"
                        >Add Feed</span
                    >
                    <svg
                        id="loading-spinner"
                        style="display: none"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <style>
                            .spinner_mHwL {
                                animation: spinner_OeFQ 0.75s
                                    cubic-bezier(0.56, 0.52, 0.17, 0.98)
                                    infinite;
                                fill: white;
                            }
                            .spinner_ote2 {
                                animation: spinner_ZEPt 0.75s
                                    cubic-bezier(0.56, 0.52, 0.17, 0.98)
                                    infinite;
                                fill: white;
                            }
                            @keyframes spinner_OeFQ {
                                0% {
                                    cx: 4px;
                                    r: 3px;
                                }
                                50% {
                                    cx: 9px;
                                    r: 8px;
                                }
                            }
                            @keyframes spinner_ZEPt {
                                0% {
                                    cx: 15px;
                                    r: 8px;
                                }
                                50% {
                                    cx: 20px;
                                    r: 3px;
                                }
                            }
                        </style>
                        <defs>
                            <filter id="spinner-gF00">
                                <feGaussianBlur
                                    in="SourceGraphic"
                                    stdDeviation="1.5"
                                    result="y" />
                                <feColorMatrix
                                    in="y"
                                    mode="matrix"
                                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7"
                                    result="z" />
                                <feBlend
                                    in="SourceGraphic"
                                    in2="z" />
                            </filter>
                        </defs>
                        <g filter="url(#spinner-gF00)">
                            <circle
                                class="spinner_mHwL"
                                cx="4"
                                cy="12"
                                r="3" />
                            <circle
                                class="spinner_ote2"
                                cx="15"
                                cy="12"
                                r="8" />
                        </g>
                    </svg>
                </button>
                <button
                    type="button"
                    class="mt-3 w-full flex rounded-lg font-extrabold px-8 py-3 bg-stone-700 text-base text-gray-200 hover:bg-stone-800 focus:outline-none sm:mt-0 sm:w-auto sm:text-sm"
                    @click="open = false">
                    <span class="flex mt-auto mb-auto">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document
        .getElementById('create-category-link')
        .addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('create-category-link').style.display =
                'none';
            document.getElementById('category-select').style.display = 'none';
            document.getElementById('new-category-input').style.display =
                'block';
        });

    document
        .getElementById('submit-button')
        .addEventListener('click', async function (event) {
            event.preventDefault();

            document.getElementById('loading-spinner').style.display = 'block';
            document.querySelector('.add-feed-text').style.display = 'none';

            const newCategoryInput =
                document.getElementById('new-category-input');
            const categorySelect = document.getElementById('category-select');
            const categoryField = document.getElementById('category');

            if (
                newCategoryInput.style.display === 'block' &&
                newCategoryInput.value.trim() !== ''
            ) {
                categoryField.value = newCategoryInput.value.trim();
            } else {
                categoryField.value =
                    categorySelect.options[categorySelect.selectedIndex].text;
            }

            const form = document.getElementById('add_feed');
            const formData = new FormData(form);

            try {
                const response = await fetch('/add_feed', {
                    method: 'POST',
                    body: formData,
                });
                const data = await response.json();

                document.getElementById('loading-spinner').style.display =
                    'none';
                document.querySelector('.add-feed-text').style.display =
                    'block';

                if (data.success) {
                    window.location.href = '/';
                } else {
                    document.getElementById('error').innerText = data.error;
                }
            } catch (error) {
                document.getElementById('loading-spinner').style.display =
                    'none';
                document.querySelector('.add-feed-text').style.display =
                    'block';
                document.getElementById('error').innerText =
                    'An error occurred while submitting the form.';
                console.error('Error:', error);
            }
        });

    document.addEventListener('DOMContentLoaded', async () => {
        const categorySelect = document.getElementById('category-select');

        try {
            const response = await fetch('/api/categories_and_blogs');
            const data = await response.json();

            data.categories_and_blogs.forEach((category) => {
                const option = document.createElement('option');
                option.value = category.id;
                option.text = category.name;
                categorySelect.appendChild(option);
            });
        } catch (error) {
            console.error('Error getting categories:', error);
        }
    });
</script>
