<div class="flex h-screen flex-1 flex-col min-w-72 justify-between border-e border-e-gray-900 bg-slate-900">
    <div>
        <div
            class="flex px-4 h-16 mb-0 w-full pt-9 items-center text-sm font-mono text-gray-600 hover:underline-offset-4 link-hover-underline">
            <a
                href="/settings/reset_last_sync"
                class="">
                Last sync:&nbsp<span id="last_sync">Loading...</span>
            </a>
        </div>
        <!-- CHANELL ITEM -->
        <div
            id="categories_and_blogs"
            class="overflow-y-auto h-full max-h-[calc(100vh-5rem)] px-4">
            <!-- FEED LIST JS -->
        </div>
    </div>
</div>
