{% extends "menu.html" %} {% block content %} {% include
"settings-top-menu.html" %}

<div class="flex-col max-w-3xl mt-0 mb-16 px-6 md:px-0 md:pl-14 space-y-5">
    <div class="mt-10 px-3 text-gray-600">
        When you delete a category that has feeds, they will be moved to the
        Unnamed category.
    </div>
    <div class="flex flex-col space-y-0.5 mb-6">
        <!-- Categories -->
        <div
            id="cat-list"
            class="flex flex-col mb-10 mt-5"></div>

        <!-- Add New Category -->
        <div
            class="flex-col md:flex-row flex items-start md:items-center justify-start space-x-0 md:space-x-4 space-y-4 md:space-y-0 px-6 py-4 bg-slate-900 rounded-xl">
            <label
                for="new-category"
                class="w-full md:w-1/3 text-left text-gray-300"
                >Add new category</label
            >
            <input
                type="text"
                required
                id="new-category"
                name="new-category"
                placeholder="Enter category name"
                class="selects w-full md:w-2/3 border-2 focus:outline-none focus:border-blue-500 border-transparent bg-slate-800 focus:bg-stone-800 rounded-lg px-4 py-2" />
            <button
                id="add-new-category"
                class="ml-4 px-6 py-3 font-semibold text-sm bg-blue-600 hover:bg-blue-700 text-white rounded-md focus:outline-none">
                Add
            </button>
        </div>
    </div>
</div>

<script>
    async function fetchAndRenderCategories() {
        try {
            const response = await fetch('/api/categories_and_blogs');
            const data = await response.json();
            const container = document.getElementById('cat-list');
            container.innerHTML = '';
            data.categories_and_blogs.forEach((category) => {
                let deleteButtonHTML = '';
                if (category.name !== 'Unnamed') {
                    deleteButtonHTML = `
                <button id="delete-${category.id}" class="text-sm px-3 text-red-700 hover:text-red-800 focus:outline-none ml-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                    </svg>
                </button>`;
                }

                let categoryHTML = `
            <div x-data="{ editMode: false, newName: '${category.name}' }" class="flex w-full border-b border-gray-900">
                <span x-show="!editMode" class="block text-base w-full mt-4 mb-1 pb-3 px-3 font-medium text-gray-200 cursor-pointer" @click="if('${category.name}' !== 'Unnamed') { editMode = true; requestAnimationFrame(() => { $refs.input.focus(); }); }">${category.name}</span>

                <input x-show="editMode" x-model="newName" x-ref="input" @keydown.enter="saveCategory(${category.id}, newName)" type="text" class="text-base flex w-full mt-4 mb-1 pb-3 px-3 font-medium text-gray-200 bg-slate-800 rounded-lg border-0 focus:outline-none" @blur="editMode = false" x-init="$watch('editMode', value => { if (value) setTimeout(() => $refs.input.focus(), 50) })" />

                <button x-show="editMode" @click="saveCategory(${category.id}, newName)" class="ml-2 mr-2 mt-2 mb-2 px-3 py-1 font-semibold text-sm bg-blue-600 hover:bg-blue-700 text-white rounded-md focus:outline-none">Save</button>
                ${deleteButtonHTML}
            </div>`;
                container.innerHTML += categoryHTML;
            });

            // Add event listeners to delete buttons
            data.categories_and_blogs.forEach((category) => {
                if (category.name !== 'Unnamed') {
                    document
                        .getElementById(`delete-${category.id}`)
                        .addEventListener('click', async () => {
                            try {
                                const response = await fetch(
                                    `/api/settings/categories/delete/${category.id}`,
                                    { method: 'DELETE' }
                                );
                                if (response.ok) {
                                    // Refresh the categories and blogs
                                    fetchAndRenderCategories();
                                    fetchCategoriesAndBlogs();
                                } else {
                                    console.error(
                                        'Error deleting category:',
                                        await response.text()
                                    );
                                }
                            } catch (error) {
                                console.error(
                                    'Error deleting category:',
                                    error
                                );
                            }
                        });
                }
            });
        } catch (error) {
            console.error('Error fetching categories and blogs:', error);
        }
    }

    async function addCategory() {
        const categoryNameInput = document.getElementById('new-category');
        const categoryName = categoryNameInput.value;

        if (!categoryName) {
            showMessage('Category name is required', 'error');
            return;
        }

        const response = await fetch('/api/settings/categories/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: categoryName }),
        });

        const data = await response.json();

        if (!response.ok) {
            showMessage('Error: ' + data.error, 'error');
            return;
        }

        categoryNameInput.value = '';
        showMessage('Category added successfully', 'success');
        fetchAndRenderCategories();
        fetchCategoriesAndBlogs();
    }

    async function saveCategory(categoryId, newName) {
        const response = await fetch(
            `/api/settings/categories/rename/${categoryId}`,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ new_name: newName }),
            }
        );

        const data = await response.json();

        if (!response.ok) {
            showMessage('Error: ' + data.error, 'error');
            return;
        }

        showMessage('Category renamed successfully', 'success');
        fetchAndRenderCategories();
        fetchCategoriesAndBlogs();
    }

    document
        .getElementById('add-new-category')
        .addEventListener('click', addCategory);

    document
        .getElementById('new-category')
        .addEventListener('keydown', async (event) => {
            if (event.key === 'Enter') {
                addCategory();
            }
        });

    fetchAndRenderCategories();
</script>

{% endblock %}
